<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div>
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

<div class="card text-center w-25" style="height: 35rem;">  
 <div class='card-body'> 
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'%>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>  
    
    <div>
      <%= form.label :github %>
      <%= form.text_field :github, class: 'form-control' %>
    </div>  
    
    <div>
      <%= form.label 'Start Date' %>
      <%= form.date_field :start_date, class: 'form-control'%>
    </div>
    
    <br>
    <div class='actions'>
      <%= form.submit class: "btn btn-primary" %>
    </div>  
  </div>
</div>
<% end %>